# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables (NEVER push this)
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
